{% extends "base.html" %}

{% block title %}Home Dashboard{% endblock %}

{% block body_class %}page-dashboard{% endblock %}
{% block card_class %}dashboard-page{% endblock %}

{% block extra_head %}
    <script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js" defer></script>
{% endblock %}

{% block content %}

{% if new_user %}
    {% if is_temp_user %}
    <div class="message warning">
        &#9888; <strong>Temporary session:</strong> This account and all its data will be permanently deleted when you log out. Nothing in this session will be saved.
    </div>
    {% endif %}
    {% include "fragments/welcome_card.html" %}
{% endif %}

<div class="dashboard-top">
    {% include "fragments/data_viz.html" %}
    {% include "fragments/nav_actions.html" %}
</div>

{% include "fragments/add_transaction.html" %}

{% endblock %}
